/* ==================
Страницы регистрации и авторизации
======================*/

.form .container {
    max-width: 400px;
    margin: 30px auto 0;
}
.card {
    width: 100%;
}

/* ==================
Страница поста
======================*/

.modal-dialog .like {
    transform: translateY(-4px);
}


/*.stat_item {*/
/*    margin-left: 20px;*/
/*}*/
/*.stat_item:first-child {*/
/*    margin-left: 0;*/
/*}*/

.modal-dialog {
    max-width: 100% !important;
}

.post-modal {
    min-width: 60vw;
    max-width: 95vw;
}

.post-modal-mini {
    max-width: 600px;
}

.modal__img img {
    width: 100%;
    height: auto;
    display: block;
}

.comments {
    /*max-height: 100%;*/
}

.post-comments {
    min-height: 100px;
    max-height: 600px;
    position: relative;
}

.comments-wrapper {
    overflow: auto;
    max-height: calc(100% - 30px);
}

.comments-form {
    height: 30px;

    position: absolute;
    bottom: 16px;
    left: 15px;
}

.comment {
    padding-left: 65px;

    position: relative;
}

.comment__avatar {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;
}

.comment__avatar img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: 50%;
}

.comment__name {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    color: #000000a3;
}

/* ==================
Топ 10 и главная
======================*/

.post_img {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    color: inherit !important;
}

.mini-post {
    /*margin: 10px;*/
    /*height: auto;*/
    /*min-height: 0;*/

    position: relative;
}

.post_sub {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    background-color: #000;

    font-size: 50px;

    transition: opacity .3s ease;
}

.post_sub span,
.post_sub{
    color: #fff;
}

.post_sub:hover {
    opacity: 0.6;
}

.pageBtn {
    padding: 5px;
    transform: translateY(-5px);

    border: #d2d2d2;
    background-color: #d2d2d2;
}

.stat_item {
    margin-left: 10px;
}
.stat_item:first-child {
    margin-left: 0;
}

.like {
    display: inline-block;
    /*transform: translateY(0);*/
}

.like button {
    padding: 0;

    background: none;
    border: none;
}

.like i {
    color: #d2d2d2;
}

.like .active i {
    color: #ed4956 !important;
}